# Секреты и локальные конфиги
.env
*.env*
application*.properties
application*.yml
secrets/
/secrets/
*.key
*.jks
*.pem
*.keystore

# Сборка и артефакты
target/
/bin/
/dist/

# Логи
*.log
logs/

# Временные файлы
.cache
tmp/
temp/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store

# ОС
Thumbs.db